<h1><%= @article.title %><%= link_to "Revisions", article_revisions_path(@article) %> </h1>
<p>
    <%= sanitize @article.summary %>
</p>



<% @sections.each do |section| %>
<h1>section_id: <%= section.id %>	</h1>
  <h3><%= section.title %><%= link_to "Edit", edit_section_path(section) %></h3>
  <p>
    <%= sanitize section.body %>
  </p>

<% end %>
<%= link_to "Create A Section", new_article_section_path(@article) %>
