<h1><%= @article.title %></h1>
<p>
    <%= @article.summary %>
</p>


<% @sections.each do |section| %>
  <h3><%= section.title %></h3>
  <p>
    <%= section.body %>
  </p>

<% end %>
<%= link_to "Create A Section", new_article_section_path(@article) %>
