<%= form_for([@article, @article.sections.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %><br>

    <div>
    <%= f.cktext_area :body, rows: 10, ckeditor: {extraPlugins: 'footnotes'} %>
  </div>

  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
