<h1>DBC Wiki</h1>

<%= form_tag root_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>


	<% if @articles %>
		<% @articles.each do |article| %>
			<h1><a href="/articles/<%=article.id%>"><%= article.title %></a></h1>
			<p><%= sanitize article.summary %></p>
		<% end %>


<% end %>

<% if current_user %>
  <%= link_to "Create an article", new_article_path %>
<% end %>
